@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/outfit.woff2') format('woff2');
}

.site-wrapper {
    /* define the maximum width of the content */
    max-width: 85rem;

    /* push the container to the middle of the screen */
    margin: 0 auto;

    /* prevent text from hitting the screen edge on mobile */
    padding: 0 16px;
    min-height: 100vh;

    display: flex;
}


/* The default open state */
#sidebar {
    position: sticky;
    top: 0;
    height: 100vh;

    /* Kill both vertical and horizontal scrollbars */
    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns to the top */

    width: 200px;
    transition: width 0.2s ease-in-out; /* Smooth width transitions only */
    white-space: nowrap;
}

#sidebar .nav-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

/* The collapsed state */
#sidebar.collapsed {
    width: 80px;
}

/* Hide the text when collapsed */
#sidebar.collapsed .sidebar-text {
    display: none;
}
#sidebar.collapsed .sidebar-text-logo {
    justify-content: center;
}

/* Center all the nav icons when the sidebar is collapsed */
#sidebar.collapsed .nav-link {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

/* Force the toggle button to truly center when collapsed */
#sidebar.collapsed .toggle-btn {
    justify-content: center !important;
    align-self: center !important;
}
